.about {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &-container {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-areas:
      "box1 box1 box2"
      "box3 box4 box2"
      "box3 box4 box5"
      "box6 box6 box6"; // Объединяем box4 и box5 в один box4
    gap: 10px;
    margin: 0 auto;
    overflow: hidden;

    &__box {
      border-radius: 25px;
      cursor: pointer;
      background-color: #2c2c2c;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        background-color: #1abc9c;
        transform: scaleX(1.02);
      }
    }
  }
}

.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
}

.box4 {
  grid-area: box4; // Теперь занимает место и box4, и box5
}
.box5 {
  grid-area: box5; // Теперь занимает место и box4, и box5
}

.box6 {
  grid-area: box6;
}

@media (max-width: 768px) {
  .about-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
    padding: 10px;

    &__box {
      height: 100px;
      width: 100%;
    }
  }
}