.about {
  min-height: 100vh;
  display: flex;
  flex-direction: column; // Изменено на column, чтобы меню было ниже основного контента
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; // Чтобы скрыть элементы, выходящие за пределы контейнера

  &-container {
    position: relative; // Для корректного позиционирования дочерних элементов
    display: flex;
    flex-direction: column; // Выравнивание элементов по вертикали
    align-items: center; // Центрирование по горизонтали
    z-index: 1; // Устанавливаем z-index для контейнера
    

    &__block {
      z-index: 2; // На переднем плане
      padding: 20px; // Отступы
      backdrop-filter: blur(30px);
      background-color: #2c2c2ca5;
      border-radius: 25px;
      color: rgb(255, 255, 255);
      text-align: justify;
      margin-bottom: 20px; // Отступ снизу
      max-width: 600px; // Максимальная ширина блока
    }
  }

  &-menu {
    position: fixed; // Фиксированное положение
    bottom: 50px; // Отступ от нижнего края
    left: 50%; // Центрирование по горизонтали
    transform: translateX(-50%); // Центрирование по горизонтали
    display: flex; // Гибкое расположение элементов
    align-items: center; // Центрирование логотипа и элементов по вертикали
    gap: 10px; // Промежуток между элементами
    z-index: 2; // На переднем плане
    padding: 15px 15px; // Отступы сверху и снизу
    backdrop-filter: blur(30px);
    background-color: #2c2c2ca5;
    border-radius: 25px;
    &__logo {
      width: 50px; // Ширина логотипа
      height: auto; // Автоматическая высота для сохранения пропорций
      background: transparent;
      margin-right: 30px;
    }

    &__item {
      cursor: pointer; // Указатель при наведении
      color: #ffffff; // Цвет текста
      transition: color 0.3s; // Плавный переход при наведении
      background: transparent;
      
      &:hover {
        color: #609db1; // Цвет текста при наведении
      }
    }
  }
}