.blink {
    animation: blink 1s infinite;
  }
  .arrow {
      display: none;
      font-size: 16px;
      margin-right: 5px;
      animation: blink 1s infinite;
    }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .print {
    animation: print 2s forwards;
  }
  
  .erase {
    animation: erase 2s forwards;
  }
  
  @keyframes print {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes erase {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }