.preloader{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 30px;
    &-text{
        font-weight: 700;
        &_first{}
        &_second{
            padding: 50px 0;
        }
        &_third{}
    }
}
