.projectsContainer {
    max-width: 800px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрируем контейнер */
    padding: 20px; /* Внутренние отступы */
    background: transparent; /* Убираем задний фон */
  
    h2 {
        background: transparent;
      text-align: center; /* Центрируем заголовок */
    }
  }
  
  .projectCard {
    display: flex; /* Используем flexbox для размещения содержимого карточки */
    flex-direction: column; /* Вертикальное размещение содержимого карточки */
    padding: 10px; /* Внутренние отступы карточки */
    transition: transform 0.2s; /* Плавный эффект при наведении */
    background: transparent;
    align-items: center; /* Центрируем содержимое карточки */
  
    img {
        background: transparent;
      border-radius: 25px;
      width: 100%; /* Уменьшаем размер изображения */
      height: 100%; /* Автоматическая высота для сохранения пропорций */
      margin: 10px 0; /* Отступ сверху и снизу от изображения */
    }
  
    .projectInfo {
      text-align: left; /* Центрируем текст */
      background: transparent;
      
      h3 {
        background-color: transparent;
        margin: 5px 0; /* Отступы между заголовком и текстом */
      }
  
      p {
        background-color: transparent;
        font-size: 14px; /* Уменьшаем размер текста */
        margin: 5px  0; /* Отступы между строками текста */
      }
  
      .projectStack {
        background-color: transparent;
        color: #555; /* Цвет текста стека (серый) */
        font-size: 12px; /* Уменьшаем размер текста стека */
      }
    }
  }
  
  .pagination {
    margin-top: 20px; /* Отступ сверху для пагинации */
    display: flex; /* Используем flex box для размещения кнопок */
    justify-content: space-between; /* Распределяем кнопки по краям */
    background: transparent;
    .paginationButton {
      cursor: pointer; /* Курсор при наведении */
      background: transparent;
      border: none;
      padding: 0 10px;
      font-size: 16px;
      color: #007bff; /* Цвет текста кнопки */
  
      &:hover {
        color: #0056b3; /* Цвет текста кнопки при наведении */
      }
    }
  }
  
  /* Адаптивные стили */
  @media (max-width: 600px) {
    .projectGif {
      width: 80px; /* Уменьшаем размер изображения на маленьких экранах */
    }
  
    .projectsContainer {
      padding: 10px; /* Уменьшаем отступы на маленьких экранах */
    }
  }